/* Main Color Scheme */
/* Variables for colors */
/* Other Variables */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  * {
    font-family: "Sarala", serif;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
  }
  
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1.35px, transparent 1.35px), radial-gradient(#444cf7 1.35px, #e5e5f7 1.35px);
    background-size: 54px 54px;
    background-position: 0 0, 27px 27px;
    z-index: -2;
    /* Hide the overflow at the left or right side of the page */
    overflow-x: hidden;
  }
  
  nav {
    width: 97vw;
    height: 80px;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    margin-top: 10px;
    /* Stay on top of everything */
    z-index: 5;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
  }
  nav #logo {
    transition: transform 0.2s ease;
    width: 10%;
    height: 40px;
    padding: 10px;
    background-color: #449AD0;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
  }
  nav #logo img {
    width: 100%;
    position: relative;
    bottom: 25%;
  }
  nav #logo:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  nav #main-nav-buttons {
    width: 30%;
    min-width: 20%;
  }
  nav #main-nav-buttons li a {
    font-size: 20px;
    text-decoration: none;
    color: #0b2b52;
    font-weight: bolder;
  }
  nav #main-nav-buttons li a:hover {
    color: #B36AB5;
  }
  nav #social-nav-buttons {
    width: 10%;
  }
  nav #social-nav-buttons li {
    display: inline;
    border-radius: 50%;
    background-color: #b0daff;
    padding: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav #social-nav-buttons li .social-nav-img {
    width: 100%;
    height: 100%;
  }
  nav #social-nav-buttons li:hover {
    background-color: #B36AB5;
  }
  
  main {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80vw;
  }
  main #alldus-title {
    text-align: center;
    font-size: 42px;
    margin: 10px 0;
  }
  main #background {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    z-index: -1;
    overflow-x: hidden;
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(4px);
  }
  main #front-page {
    margin-top: 120px;
    width: 100%;
  }
  main #front-page h1 {
    margin: 0;
    margin-bottom: 10px;
    display: inline;
  }
  main #front-page h2 {
    justify-self: center;
    text-align: center;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
  }
  main .new-post-form form {
    display: flex;
    flex-direction: column;
  }
  main .new-post-form form #inhoud {
    height: 10em;
    margin-bottom: 10px;
  }
  main .blog-section {
    position: absolute;
    top: 100vh;
  }
  main #blog-post-holder {
    margin-top: 300px;
  }
  main #blog-post-holder .blog-post {
    transition: transform 0.15s ease;
    margin: 20px auto;
    width: 70%;
    background-color: white;
    border: 2px solid #0b2b52;
    padding: 10px 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 0px #B36AB5;
    position: relative;
  }
  main #blog-post-holder .blog-post .openBtn {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    opacity: 0;
  }
  main #blog-post-holder .blog-post .blog-header {
    background-color: #b0daff;
    border-radius: 10px;
  }
  main #blog-post-holder .blog-post .blog-header h2 {
    color: #0b2b52;
  }
  main #blog-post-holder .blog-post table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  main #blog-post-holder .blog-post .blog-title {
    margin: 0px;
    margin-left: 5px;
  }
  main #blog-post-holder .blog-post .blog-writer {
    text-align: right;
    margin: 0px;
    margin-right: 5px;
  }
  main #blog-post-holder .blog-post .blog-content {
    margin: 10px 0;
    max-height: 100px;
    overflow-y: hidden;
  }
  main .blog-post:hover {
    transform: scale(1.01);
  }
  main #featured-blog-post {
    background: linear-gradient(to bottom right, #b0daff 10%, #449AD0 40%, #0b2b52 90%);
    padding: 10px 20px;
    border-radius: 5px;
    max-height: 60vh;
    height: auto;
    position: relative;
    overflow-y: scroll;
  }
  main #featured-blog-post h1 {
    margin: 0;
    margin-bottom: 10px;
  }
  main #featured-blog-post #content {
    margin: 0;
    border: solid 1px black;
    border-radius: 3px;
    padding: 10px;
  }
  main #featured-blog-post #content p {
    font-style: italic;
  }
  main #featured-blog-post::after, main #featured-blog-post::before {
    content: "";
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 101%;
    height: 103%;
    background-image: conic-gradient(from var(--angle), #B36AB5, #449AD0, #B36AB5);
    animation: 3s spin linear infinite;
  }
  main #featured-blog-post::before {
    filter: blur(20px);
  }
  main .expanded-blog-post {
    width: 70vw;
    height: 70vh;
    display: none;
    position: fixed;
    z-index: 3;
    left: 15vw;
    top: 15vh;
    overflow-y: scroll;
    background: linear-gradient(127deg, #b0daff 10%, #449AD0 40%, #0b2b52 90%);
    padding: 5px 20px;
    border-radius: 5px;
    flex-direction: column;
  }
  main .expanded-blog-post .ex-blog-content-holder {
    width: 100%;
    min-height: 85%;
    margin-bottom: 75px;
  }
  main .expanded-blog-post .ex-blog-content {
    width: 100%;
    min-height: 50%;
    height: 60%;
    border: solid 1px black;
    border-radius: 3px;
    padding: 10px;
  }
  main .expanded-blog-post .comment {
    width: 100%;
    border: solid 1px black;
    border-radius: 4px;
    padding: 5px 10px;
    background: linear-gradient(to right, #b0daff 10%, #449AD0 30%);
    margin-bottom: 15px;
  }
  main .expanded-blog-post .comment .comment-header {
    display: flex;
    justify-content: space-between;
  }
  main .expanded-blog-post .comment .comment-header h3 {
    margin: 0px;
  }
  main .expanded-blog-post .comment .comment-header h4 {
    margin: 0px;
    font-weight: lighter;
    color: rgb(50, 50, 50);
  }
  main .expanded-blog-post .comment p {
    margin: 0px;
  }
  main .expanded-blog-post form {
    display: flex;
    flex-direction: row;
  }
  main .expanded-blog-post .ex-blog-close-btn {
    transition: transform 0.15ms ease;
    cursor: pointer;
    margin: 0;
    background-color: #B36AB5;
    border: 2px solid darkred;
    border-radius: 3px;
    width: 100px;
    line-height: 1;
  }
  main .expanded-blog-post .ex-blog-close-btn:hover {
    background-color: red;
    transform: scale(1.02);
  }
  main .expanded-blog-post .ex-blog-delete-post-btn {
    cursor: pointer;
    color: red;
  }
  main .expanded-blog-post .ex-blog-edit-post-btn {
    cursor: pointer;
    color: blue;
  }
  main #alldus-info {
    width: 100%;
    min-height: 600px;
    justify-content: space-around;
    display: flex;
  }
  main #alldus-info #left-side {
    float: left;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main #alldus-info #left-side h2 {
    margin: 0;
  }
  main #alldus-info #left-side h3 {
    text-align: center;
    background-image: linear-gradient(to bottom right, #b0daff, #449AD0);
    border: solid 4px #0b2b52;
    padding: 1em;
    border-radius: 10px;
    margin: 0;
  }
  main #alldus-info #left-side div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
    width: 250px;
    height: 250px;
  }
  main #alldus-info #left-side div img {
    border-radius: 50%;
    width: 250px;
    height: auto;
  }
  main #alldus-info #left-side div::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 106%;
    height: 106%;
    border-radius: 50%;
    background-image: conic-gradient(from 0deg, #449AD0, #B36AB5, #449AD0);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  main #alldus-info #right-side {
    float: right;
    height: 100%;
  }
  main #alldus-info #right-side iframe {
    height: 600px;
    width: 800px;
    border-radius: 20px;
  }
  
  .account-form {
    width: 50vw;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    line-height: 1;
  }
  .account-form h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 24px;
    text-align: center;
  }
  .account-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .account-form input[type=text],
  .account-form input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .account-form input[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #449AD0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .account-form input[type=submit]:hover {
    background-color: #B36AB5;
  }
  .account-form a {
    margin-top: 5px;
  }
  
  /*# sourceMappingURL=style.css.map */
