/* Main Color Scheme */
$mainColor: #415a77;
$secondaryColor: #e0e1dd;
$darkMainColor: #0d1b2a;
$bgColor: white;
$lightColor: #b3bfb8;

/* Variables for colors */
$footerColor: black;
$footerTxtColor: white;
$navBtnTxtColor: #293241;
$socialBgColorHighlighted: #E4DEAE;
$logoTempColor: #133A1B;
$frontPageTextColor: #133A1B;
$frontPageBgColor: #B7BF96;

/* Other Variables */
$navHeight: 80px;