/* Main Color Scheme */
$mainColor: #449AD0;
$secondaryColor: #B36AB5;
$darkMainColor: #0b2b52;
$bgColor: white;
$lightColor: #b0daff;

/* Variables for colors */
$footerColor: black;
$footerTxtColor: white;
$navBtnTxtColor: #293241;
$socialBgColorHighlighted: #E4DEAE;
$logoTempColor: #133A1B;
$frontPageTextColor: #133A1B;
$frontPageBgColor: #B7BF96;

/* Other Variables */
$navHeight: 80px;